.output{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  background : linear-gradient(to left ,#282cfc  30px, #5356fd  250px, #bb73f7  400px, #976dfa 800px, #f7475f  1400px);
  /*background-color: blueviolet;
  background : linear-gradient(to left ,#7f81ff  30px, #f38bfc  250px, #8691f5  500px, #de6dfa 1000px, #6b92fc  1400px);*/
  padding: 15px;
  font-weight: bold;
}
.right{
  padding-left: 750px;
}
.left{
  padding-left: 30px;
}
a{
  color: rgb(247, 245, 250);
}
@media only screen and (min-width:500px) and (max-width:1200px){
  .right, .left{
    padding-left: 0px;
  }
  ul{
    justify-content: space-between;
  }
}
@media only screen and (max-width:500px){
  .right, .left{
    padding-left: 0px;
  }
  ul{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
