body{
  background-image: url("https://rare-gallery.com/mocahbig/411615-abstract-4K-digital-art-shapes-geometry-neon-lines.jpg");
  background-size: cover;
  background-color: black;
  color: white;
}
